body {
    font-family: "montserrat", sans-serif;
}

.container {
    max-width: 800px;
    margin: 0px auto;
    padding: 10px;
}

.error-prompt {
    margin: 30% auto;
    text-align: center;
}

.error-prompt h1 {
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    background: black;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.btn {
    width: 25%;
    min-width: 200px;
    height: 50px;
    font-size: 14px;
    border: none;
    background: #e55039aa;
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 25px;
    margin: 10px 20px;
    padding: 12px 24px;
}

.btn:hover {
    background: #e55039;
}