* {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(120deg, #3498db, #8e44ad);
}

/*loadding css*/

.loading {
    position: fixed;
    top: 50%;
    left: 50%;

    width: 200px;
    height: 200px;

    margin-top: -100px;
    margin-left: -100px;

    display: none;

    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e74c3c;
    animation: a1 2s linear infinite;
}

.loading::before, .loading::after {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
}

.loading::before {
    border-top: 10px solid #e67e22;
    transform: rotate(120deg);
}

.loading::after {
    border-top: 10px solid #3498db;
    transform: rotate(240deg);
}

.loading span {
    position: absolute;
    width: 200px;
    height: 200px;
    color: #fff;
    text-align: center;
    line-height: 200px;
    animation: a2 2s linear infinite;
}

@keyframes a1 {
    to {
        transform: rotate(360deg);
    }
}

@keyframes a2 {
    to {
        transform: rotate(-360deg);
    }
}


.full-screen-coverage {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    display: none;
}

.loading-span {
    font-family: montserrat, sans-serif;
    font-size: 2em;
    color: black;
}

.full-screen-coverage {
    position: fixed;
    width: 100%;
    height: 100%;
    background: none;
    display: none;
    z-index: 997;
}

/*loadding css*/

.header {
    height: 60px;
    background: #34495e;
    padding: 0 20px;
    color: #fff;
    position: relative;
    z-index: 999;
}

.logo {
    line-height: 60px;
    float: left;
    text-transform: uppercase;
}

.menu {
    float: right;
    line-height: 60px;
}

.menu button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1em;
    padding: 0px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s;
}

.show-menu-btn, .hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn {
    float: right;
}

.show-menu-btn i {
    line-height: 60px;
}

.menu button:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: #3498db;
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

.content {
    padding: 0 20px;
}

.content img {
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
}

.content p {
    text-align: justify;
}

@media screen and (max-width: 800px) {
    .show-menu-btn, .hide-menu-btn {
        display: block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }

    .menu button {
        display: block;
        padding: 20px;
        margin: 0px auto;
    }

    .hide-menu-btn {
        position: absolute;
        top: 20px;
        right: 40px;
    }

    #chk:checked ~ .menu {
        right: 0;
    }
}

.Pagination {
    padding: 10px;
    text-align: center;
}

.Pagination-input {
    text-align: center;
    width: 30%;
    max-width: 100px;
    font-size: 1em;
    border: none;
    background: none;
    outline: none;
}

.Pagination-left {
    float: left;
    transform: rotate(180deg);
    cursor: pointer;
}

.Pagination-right {
    float: right;
    cursor: pointer;
}

footer {
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0px;
    text-align: center;
    margin: 20px 0px;
    /*z-index: 998;*/
}

body::-webkit-scrollbar {
    width: 10px;
    height: 2px;
    background: white;
    border-radius: 10px; /*外层轨道*/
}

body::-webkit-scrollbar-thumb {
    display: block;
    width: 2px;
    margin: 0 auto;
    border-radius: 10px;
    background: #ccc; /*内层轨道*/
}

select {
    font-size: 1em;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 10px 5px;
    height: 40px;
    appearance: none;
}
